.accordion {
    border-color: #11781d !important;
}

.custom-border {
    border-bottom-color: #11781d !important;
}

.accordion-button {
    color: #f8f9fa !important;
    background-color: #262c28 !important;
}

.accordion-button:not(.collapsed) {
    color: #f8f9fa !important;
    background-color: #11781d !important;
}

.accordion-item {
    color: #f8f9fa !important;
    background-color: #242424 !important;
}

.title {
    color: #11781d !important;
}