.contenedor_formulario{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_registro{
    width: 100vh;
    height: min-content;
    background-color: rgba(147, 147, 147, 0.8);
    border: 3px solid rgba(223, 223, 223, 0.4);
    border-radius: 30px;
    margin: 30px;
    padding: 10px;

}
