*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*seccion 1*/
.carousel-inner {
    width: 100%;
    height: 500px; /* Ajusta según la altura deseada */
    margin-top: 50px;
    margin-bottom: 30px;
  }
.carousel-item img{
    width: 100%;
    object-fit: contain;
    height: 450px;    
}
/*Seccion 2*/
.promos_2{
    width: 100%;
    height: min-content;
}
.contenedor_img_promos{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenedor_img_promos img{
    width: 300px;
    border: 2px solid white;
    border-radius: 30px;
}
.envios_aviso{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contendor_camion_texto{
    background-color: rgba(255,255,255,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.contenedor_camion{
    width: 90px;
    margin-right: 20px;
}
.contenedor_camion img{
    width: 100%;
}
.envios_aviso p{
    font-size: 1.4em;
    
}

