.card-body {
    border-color: aquamarine;
}

.card-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
}

.card-product {
    width: 18em;
    margin: 0.5em 1em;
}

.product-btn {
    background-color: #11781d !important;
}

.product-btn:hover { 
    background-color: #13541c !important;
}

.custom-border {
    border-top-color: #11781d !important;
}