{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo_nosotros.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilo_nav_footer_fondo.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon_pagina.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>TecnoLVL</title>
</head>
<body>
    <header>
      <nav class="nav_header">
          <div class="contenedor_img">
          <img src="{% static 'img/LVLsinmarco.png' %}">
          </div>
          <div class="contenedor_links">
              <div class="contenedor_secciones">
                  <a href="http://localhost:8000">Inicio</a>
                  <a href="http://localhost:8000/productos">Productos</a>
                  <a href="http://localhost:8000/nosotros">Nosotros</a>
                  <a href="http://localhost:8000/ayuda">Ayuda</a>
              </div>
              <div class="contenedor_login">
                  <a href="#">Iniciar Sesion</a>
              </div>
          </div>
      </nav>
    </header>
    <main>
        <h3 class="titulo_equipo">Equipo</h3>
        <section class="equipo">
              <div class="tarjeta">
                <img src="{% static 'img/avatar.png' %}" class="tarjeta_img" alt="...">
                <div class="tarjeta_cuerpo">
                  <p class="tarjeta_texto">Jefe.</p>
                </div>
              </div>

              <div class="tarjeta">
                <img src="{% static 'img/avatar.png' %}"  class="tarjeta_img" alt="...">
                <div class="tarjeta_cuerpo">
                  <p class="tarjeta_texto">Jefaso.</p>
                </div>
              </div>

              <div class="tarjeta">
                <img src="{% static 'img/avatar.png' %}"  class="tarjeta_img" alt="...">
                <div class="tarjeta_cuerpo">
                  <p class="tarjeta_texto">Dueño.</p>
                </div>
              </div>
        </section>

        <section class="horario_ubicacion">
            <div class="horario">
            <table class=tabla>
                <thead>
                  <tr class="encabezado_tabla">
                    <th class="dia_semana">Lunes Martes Miercoles Jueves Viernes</th>
                    <th>Sabado</th>
                    <th>Domingo</th>
                  </tr>
                </thead>
                <tbody>
                <tr class="cuerpo_tabla">
                  <td class="horario_semana">10:00 hs - 18:00 hs</td>
                  <td>10:00 hs a 14:00 hs</td>
                  <td>Cerrado</td>
                </tr>
                </tbody>
              </table>
              </div>
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d205.28291935840426!2d-58.41485490109994!3d-34.590840427972275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1729334415077!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </section>
       
    </main>
    <footer>
      <div class="contenedor_logo_footer">
          <img src="{% static 'img/LVL.png'%}">
      </div>
      <div class="contenedor_copyright">
          <p>&copy; Diseñado y Desarrollado por Leonel F. Rodriguez - Veronica P. Grimaldi</p>
      </div>
      <div class="contenedor_redes">
          <img src="{% static 'img/icons8-instagram-50.png' %}" alt="">
          <img src="{% static 'img/icons8-github-50.png' %}" alt="">
          <img src="{% static 'img/icons8-linkedin-50.png' %}" alt="">
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
