{% extends 'base.html' %}

{% block content %}
<main class="container-sm mt-4 text-white">
    <div class="d-flex justify-content-center">
        <div class="col-6 p-5 rounded rounded-2 border border-secondary-subtle"
            style="background-color: #262c28" ;>
            <h3 class="mb-4">Mi cuenta</h3>
            <div>
                <div class="row">
                    <div class="col-6">
                        <h5 class="fs-5">Nombre</h5>
                        <p>{{usuario.nombre}}</p>
                    </div>
                    <div class="col-6">
                        <h5 class="fs-5">Apellido</h5>
                        <p>{{usuario.apellido}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5 class="fs-5">Usuario</h5>
                        <p>{{usuario.username}}</p>
                    </div>
                    <div class="col-6">
                        <h5 class="fs-5">Correo</h5>
                        <p>{{usuario.email}}</p>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <a href="{% url 'editar_cuenta' %}" class="btn btn-success">Editar datos</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}