{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/estilo_producto.css' %}">
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<form method="GET" action="{% url 'producto' %}">
    <button type="submit" name="ordenar" value="asc" class="btn btn-success">Ordenar de Menor a Mayor Precio</button>
    <button type="submit" name="ordenar" value="desc" class="btn btn-success">Ordenar de Mayor a Menor Precio</button>
</form>
{% endif %}
</div>
<div class="container main-container mt-">
    <div class="row justify-content-center g-0">
        {% for producto in productos %}
        <div class="card text-center card-product" id="{{x.id}}">
            <img src="{{producto.imagen}}" class="card-img-top" alt="foto-producto">
            <div class="card-body border-top border-4 custom-border">
            <h6 class="card-title">{{producto.nombre}}</h6>
            <p class="card-text">{{producto.marca}}<p>
            {% if request.user.is_authenticated %}
                <p class="card-text">Precio: ${{producto.precio}}</p>
            {% else %}
                <p class="card-text">Iniciar sesión para ver precio</p>
            {% endif %}
            <p class="card-text parrafo">{{producto.descripcion}}</p>
        </div>
        <a href="{% url 'producto_detalles' producto.id %}" class="boton_leer_mas">Leer mas...</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}