{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<main class="container-md mt-4 text-white">
    <div class="d-flex justify-content-center">
        <div class="col-7 p-5 rounded rounded-2 border border-secondary-subtle"
            style="background-color: #262c28;">
            <h3 class="mb-4">Crear cuenta</h3>
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="id_nombre" class="form-label">Nombre</label>
                        <input type="text" name="{{ form.nombre.name }}" maxlength="30" autofocus required id="id_nombre" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="id_apellido" class="form-label">Apellido</label>
                        <input type="text" name="{{ form.apellido.name }}" maxlength="30" required id="id_apellido" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="id_username" class="form-label">User</label>
                        <input type="text" class="form-control" name="{{ form.username.name }}" maxlength="150" required id="id_username">
                    </div>
                    <div class="col-6">
                        <label for="id_email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="{{ form.email.name }}" maxlength="100" required id="id_email">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="id_password1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="{{ form.password1.name }}" autocomplete="new-password" id="id_password1">
                    </div>
                    <div class="col-6">
                        <label for="id_password2" class="form-label">Confirmación de contraseña</label>
                        <input type="password" class="form-control" name="{{ form.password2.name }}" autocomplete="new-password" id="id_password2">
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success px-5">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}