{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/estilo_login.css'%}">
{% endblock %}
{% block content %}
<section class="seccion_logueo">
    <div class="contenedor_logueo">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="contenedor_ingresar">
                <button type="submit">Iniciar Sesion</button>
            </div>
        </form>
        <a href="{% url 'registro' %}">Registrarse</a>
    </div>
</section>
{% endblock %}